<div class="login-form">
  <div class="form__header">
    <h3 class="header__text">Login</h3>
  </div>
  <form class="form" (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form__group">
      <label class="group__label" for="text">Username:</label>
      <input class="group__input" type="text" [(ngModel)]="credentials.username" id="text" name="text" placeholder="Enter your username:" required #username="ngModel">
      <div [hidden]="!username.pristine" class="group__error">Username is required</div>
    </div>
    <div class="form__group">
      <label class="group__label" for="password">Password:</label>
      <input class="group__input" type="password" [(ngModel)]="credentials.password" id="password" name="password" placeholder="Enter your password:" required #password="ngModel">
      <div [hidden]="!password.pristine" class="group__error">Password is required</div>
    </div>
    <div class="form__button">
      <button [disabled]="!loginForm.form.valid" type="submit" class="add-button">Login</button>
    </div>
  </form>
</div>
