<div class="login-form">
  <form class="form" (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form__group">
      <input class="group__input" type="text" [(ngModel)]="credentials.username" id="text" name="text" placeholder="username" required #username="ngModel">
      <div [hidden]="username.valid || username.untouched" class="group__error">Username is required</div>
    </div>
    <div class="form__group">
      <input class="group__input" type="password" [(ngModel)]="credentials.password" id="password" name="password" placeholder="password" required #password="ngModel">
      <div [hidden]="password.valid || password.untouched" class="group__error">Password is required</div>
    </div>
    <div class="form__button">
      <button [disabled]="!loginForm.form.valid" type="submit" class="add-button">Login</button>
    </div>
  </form>
</div>
