.container{
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  background-color: #009879;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #F2F8FD;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav__link {
  color: #F2F8FD;
  text-decoration: none;
  margin: 0 10px;
}
